.App {
  text-align: center;

}
.header {
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 4px;;
  border: 2px solid #000;
  justify-content: space-between;
  padding: 8px;
}
.header-content {
  justify-content: space-between;
}
